form {
	width: 550px;
	margin: 0 auto;
	padding: 0 auto;
	border: 1px solid;
}

.form-inline > #color{
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 15px;
}


.form-inline > #color input {
	width: 120px;
}

.form-inline  #color p {
	padding-left: 0px;
}

.form-inline  #color #lbcolor2{
	float: right;
	padding-left: 10px;

}

#div-select {
	padding-left: 5px;
	padding-right: 0px;
}

.form-inline  #div-radio{
	padding-left: 5px;
}

#div-radio > #lbradio1{
	padding-right: 10px;
}

#div-radio span{
	padding-left: 0px;
}

#div-btn {
	padding-top: 15px;
	padding-left: 0px;
}

