form {
	width: 600px;
	margin: 0 auto;
	padding: 0 auto;
}
.col-sm-offset-0 {
	padding-right: 5px;
}
.form-inline  #div-radio{
	padding-top: 15px;
	padding-left: 0px;
}

.form-inline > #color{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 15px;
}

.form-inline > #color span{
	padding-top: 7px;
}

.form-inline > #color input {
	width: 130px;
}

.form-inline  #color p {
	padding-left: 0px;
}

.form-inline > #color #lbcolor2{
	/*width: 100px;*/
	float: right;
	padding-left: 10px;

}

#div-select {
	padding-left: 0px;
	padding-right: 0px;
}

#div-radio > #lbradio1{
	padding-right: 15px;
}

#div-radio span{
	padding-left: 0px;
}

#div-btn {
	padding-top: 15px;
	padding-right: 0px;
	float: right;
}

